<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:description" content="Triangle area (Raleigh - Durham) Industrial Workers of the World (IWW) of North Carolina, USA. The IWW is a democratic labor organization dedicated to building workers power">
    <meta property="og:title" content="Raleigh-Durham Industrial Workers of the World IWW">
    <meta name="description" content="Triangle area (Raleigh - Durham) Industrial Workers of the World (IWW) of North Carolina, USA. The IWW is a democratic labor organization dedicated to building workers power">
    <meta name="keywords" content="Triangle IWW, Raleigh-Durham IWW, Durham IWW, Durham Industrial Workers of the World, North Carolina Industrial Workers of the World">
    <meta name="author" content="Triangle IWW">
    <meta name="purpose" content="Homepage">
    <meta name="google-site-verification" content="6QRXRA6ogAi-Q4TRsAaP6SPVPikYwz-PLOdlU8B_Y7o"/>
    <meta name="twitter:title" content="Triangle IWW">
    <meta name="twitter:site" content="@triangleiww">
    <meta name="twitter:image" content="https://i.imgur.com/x4MKPuW.png">
    <meta name="twitter:creator" content="@triangleiww">
    <link rel="canonical" href="http://www.rdiww.org">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Raleigh-Durham Industrial Workers of the World</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet"> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" rel="stylesheet"> -->
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://rdiww.org/",
        "name": "Raleigh-Durham Industrial Workers of the World",
        "sameAs": [
          "https://www.facebook.com/triangleiww/",
          "https://twitter.com/triangleiww"
        ],
        "contactPoint": [
          { "@type": "ContactPoint",
            "telephone": "+1-773-728-0996",
            "email": "rdiwwgmb@gmail.com",
            "contactType": "customer service"
          }
        ]
      }
    </script>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this website.
    </noscript>
    {{{body}}}
  </body>
  <script type="text/javascript" src="/bundle.js"></script>
</html>
